<div class="user">
  <img src="/images/avatar.png" class="ava" alt="">
  <h3>Welcome {{user.username}}</h3>
  <h3>{{currentDate}}</h3>
</div>
<div class="list">
  <h4>Recent Activities</h4>
</div>
<div class="list">
  <h4>Trending</h4>
</div>
<footer>
  <div class="menu">
    <ul>
      <li><h3>SART</h3></li>
      <li><a href="/">Home</a></li>
      <li><a href="/Services">Services</a></li>
      <li><a href="/templates">Gallery</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
    <ul>
      <li><h3>Resources</h3></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Contact</a></li>
      <li><a href="/docs">Docs</a></li>
      <li><a href="/support">Support</a></li>
    </ul>
  </div>
  <div class="legal-line">
    <h5>&copy; 2017 SART All rights reserved.</h5>
  </div>
</footer>
