<header>
  <h1>UI & WEB DESIGN</h1>
      <h4>Every pixel placed with love</h4>
      <h1>{{count}}</h1>
</header>
<div class="social-bar">
  <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://www.youtube.com/channel/UCctgous97oxi4FGCm4pQF7g" class="yt"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
  <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</div>
<div class="features">
      <div class="feature">
        <h4>Mobile design</h4>
        <i class="fa fa-mobile"></i>
      </div>
      <div class="feature">
        <h4>UI & UX</h4>
        <i class="fa fa-object-group"></i>
      </div>
      <div class="feature">
        <h4>Logo design</h4>
        <i class="fa fa-circle-o"></i>
      </div>
    </div>
<footer>
  <div class="menu">
    <ul>
      <li><h3>SART</h3></li>
      <li><a href="/">Home</a></li>
      <li><a href="/templates">Gallery</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
    <ul>
      <li><h3>Resources</h3></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Contact</a></li>
      <li><a href="/docs">Docs</a></li>
      <li><a href="/support">Support</a></li>
    </ul>
  </div>
  <div class="legal-line">
    <h5>&copy; 2017 SART All rights reserved.</h5>
  </div>
</footer>
