<header>
      <h1>It's like art of web design</h1>
      <h5>Make your own website in one click</h5>
      <a href="#">Order now</a>
    </header>
    <div class="social-bar">
      <a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#" class="yt"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
      <a href="#" class="tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="features">
      <div class="feature">
        <div class="desc">
          <h4>Web design</h4>
          <p>Our team is professional in web</p>
          <p>design, we make great websites.</p>
        </div>
        <img src="/images/pic1.jpg" class="sz-md" alt="">
      </div>
      <div class="feature">
        <div class="desc">
          <h4>Responsive</h4>
          <p>Our design works well on any device :</p>
          <p>Phone, Tablet, Laptop, PC.</p>
        </div>
        <img src="/images/pic2.png" class="sz-md" alt="">
      </div>
      <div class="feature">
        <div class="desc">
          <h4>Sass Powered</h4>
          <p>We use sass for more productivity</p>
          <p>on styling.</p>
        </div>
        <img src="/images/pic3.jpg" class="sz-md" alt="">
      </div>
    </div>
    <footer>
      <div class="menu">
        <ul>
          <li><h3>SART</h3></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <ul>
          <li><h3>Resources</h3></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="legal-line">
        <h5>&copy; 2017 SART All rights reserved.</h5>
      </div>
    </footer>
