<div class="jumbotron">
  <h1>Our Pricing For Web Design.</h1>
</div>
<h2 class="plans">Choose the right plan for you :</h2>
<div class="pricing-table">
  <div class="pricing">
    <h2 class="price-name">Basic</h2>
    <hr>
    <h3 class="price basic">19$</h3>
    <p>Website</p>
    <p>No javascript</p>
    <p id="last">Limited size</p>
    <a href="#" class="basic">Start</a>
  </div>
  <div class="pricing plus">
    <h2 class="price-name">Plus</h2>
    <hr>
    <h3 class="price plus">19$</h3>
    <p>Website</p>
    <p>Logo</p>
    <p id="last">JQuery/Angular</p>
    <a href="#" class="plus">Start</a>
  </div>
  <div class="pricing">
    <h2 class="price-name">Business</h2>
    <hr>
    <h3 class="price business">19$</h3>
    <p>Website</p>
    <p>Web Apps</p>
    <p id="last">Node Js Apps</p>
    <a href="#" class="business">Start</a>
  </div>
</div>
<h2 class="plans">Want's more?</h1>
<h3 class="c-us">Contact us :</h3>
<form class="contact-us" action="index.html" method="post">
  <input type="text" name="" placeholder="Your First Name">
  <input type="text" name="" placeholder="Your Last Name">
  <input type="text" name="" placeholder="Company/Organisation">
  <input type="email" placeholder="E-mail Adress"></input>
  <textarea name="name" rows="8" cols="80" placeholder="Description"></textarea>
  <button type="submit" name="button">Send</button>
</form>
