<div class="jumbotron">
  <h1>Our Pricing For Web Design.</h1>
</div>
<div class="pricing-table">
  <div class="pricing">
    <h2 class="price-name">Basic</h2>
    <hr>
    <h3 class="price basic">19$</h3>
    <p>Website</p>
    <p>No javascript</p>
    <p id="last">Limited size</p>
    <a href="#" class="basic">Start</a>
  </div>
  <div class="pricing plus">
    <h2 class="price-name">Plus</h2>
    <hr>
    <h3 class="price plus">19$</h3>
    <p>Website</p>
    <p>No javascript</p>
    <p id="last">Limited size</p>
    <a href="#" class="plus">Start</a>
  </div>
  <div class="pricing">
    <h2 class="price-name">Business</h2>
    <hr>
    <h3 class="price business">19$</h3>
    <p>Website</p>
    <p>No javascript</p>
    <p id="last">Limited size</p>
    <a href="#" class="business">Start</a>
  </div>
</div>
