<div class="main">
  <h5>Dashboard/Upload</h5>
  <form class="" action="/dashboard/upload" method="post">
    <h4>Upload New Template :</h4>
    <input type="text" name="" placeholder="Name">
    <input type="text" name="" placeholder="Category">
    <input type="text" name="" placeholder="Picture">
    <input type="text" name="" placeholder="Link">
    <input type="text" name="" placeholder="Preview">
    <input type="text" name="" placeholder="Price">
    <button type="submit" name="button"><i class="fa fa-upload" aria-hidden="true"></i>Upload</button>
  </form>

</div>
