/* line 3, ../sass/login.scss */
body {
  font-family: 'Sansita', sans-serif;
  background-color: #e74c3c;
  margin: auto;
  text-align: center;
  overflow-x: hidden;
}

/* line 10, ../sass/login.scss */
form.login {
  display: inline-block;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 50px 50px 50px 50px;
}
/* line 18, ../sass/login.scss */
form.login a {
  color: #95a5a6;
  text-decoration: none;
  font-size: 0.8em;
  margin-right: 10px;
}
/* line 23, ../sass/login.scss */
form.login a:hover {
  color: #7f8c8d;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 28, ../sass/login.scss */
form.login a.back {
  display: block;
  padding-bottom: 20px;
}
/* line 32, ../sass/login.scss */
form.login img {
  width: 10%;
  display: block;
}
/* line 36, ../sass/login.scss */
form.login h1 {
  color: #95a5a6;
  font-family: 'Gloria Hallelujah', cursive;
}
/* line 40, ../sass/login.scss */
form.login input {
  font-family: 'Sansita', sans-serif;
  background-color: #ecf0f1;
  display: block;
  padding: 15px 10px 15px 58px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 49, ../sass/login.scss */
form.login button {
  color: white;
  background-color: #c0392b;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 13px 86px 10px 86px;
  margin-bottom: 20px;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 58, ../sass/login.scss */
form.login button:hover {
  cursor: pointer;
  background-color: #e74c3c;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 64, ../sass/login.scss */
form.login i {
  color: white;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  /* line 70, ../sass/login.scss */
  form.login {
    padding: 15px 15px 15px 15px;
  }
}
