/* line 3, ../sass/login.scss */
body {
  background-color: #ecf0f1;
  margin: auto;
  text-align: center;
  overflow-x: hidden;
}

/* line 9, ../sass/login.scss */
form.login {
  display: inline-block;
  text-align: center;
  background-color: #3498db;
  margin-top: 10%;
  padding: 50px 20px 50px 20px;
}
/* line 15, ../sass/login.scss */
form.login a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  margin-right: 10px;
}
/* line 21, ../sass/login.scss */
form.login img {
  width: 10%;
  display: block;
}
/* line 25, ../sass/login.scss */
form.login input {
  background-color: #ecf0f1;
  display: block;
  padding: 8px 10px 8px 5px;
  border: none;
  margin-bottom: 5px;
}
/* line 32, ../sass/login.scss */
form.login button {
  color: white;
  background-color: #2980b9;
  display: block;
  border: none;
  border-bottom: 2px solid #2c3e50;
  padding: 13px 74px 10px 73px;
  margin-bottom: 20px;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 41, ../sass/login.scss */
form.login button:hover {
  cursor: pointer;
  background-color: #2c3e50;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 47, ../sass/login.scss */
form.login i {
  color: white;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  /* line 54, ../sass/login.scss */
  form.login button {
    padding: 13px 77px 10px 77px;
  }
}
