/* line 3, ../sass/style.scss */
body {
  margin: auto;
  overflow-x: hidden;
}

/* line 7, ../sass/style.scss */
nav.main {
  background-color: #2574A9;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 11, ../sass/style.scss */
nav.main a {
  text-decoration: none;
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
}
/* line 16, ../sass/style.scss */
nav.main a:hover {
  background-color: #5C97BF;
}
/* line 20, ../sass/style.scss */
nav.main a.logo {
  background-color: transparent;
}
/* line 22, ../sass/style.scss */
nav.main a.logo:hover {
  background-color: transparent;
}
/* line 26, ../sass/style.scss */
nav.main a.active {
  background-color: #5C97BF;
}
/* line 29, ../sass/style.scss */
nav.main a.right {
  float: right;
  margin-top: -20px;
  margin-right: 10px;
}
/* line 34, ../sass/style.scss */
nav.main a.nvb-collapse {
  visibility: hidden;
}

/* line 38, ../sass/style.scss */
nav.cat {
  background-color: #34495e;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 42, ../sass/style.scss */
nav.cat a {
  color: white;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
}

/* line 48, ../sass/style.scss */
header {
  text-align: center;
  background-color: #19B5FE;
  margin-top: 0;
  padding: 125px 50px 125px 50px;
}
/* line 53, ../sass/style.scss */
header h1 {
  padding-top: 25px;
  padding-bottom: 20px;
  color: white;
}
/* line 58, ../sass/style.scss */
header h4 {
  color: white;
}
/* line 61, ../sass/style.scss */
header h2 {
  color: #E4F1FE;
  margin-bottom: 50px;
}
/* line 65, ../sass/style.scss */
header a {
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  background-color: #C0392B;
  border-radius: 15px;
}
/* line 71, ../sass/style.scss */
header a:hover {
  background-color: #D64541;
}

/* line 76, ../sass/style.scss */
div.social-bar {
  text-align: center;
  background-color: #2C3E50;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 81, ../sass/style.scss */
div.social-bar a.fb {
  color: white;
  background-color: #446CB3;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
}
/* line 87, ../sass/style.scss */
div.social-bar a.yt {
  color: white;
  background-color: #D91E18;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
}
/* line 95, ../sass/style.scss */
div.social-bar a.tw {
  color: white;
  background-color: #19B5FE;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
}

/* line 103, ../sass/style.scss */
div.features div.feature {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 100px;
}
/* line 107, ../sass/style.scss */
div.features div.feature img {
  float: right;
}
/* line 110, ../sass/style.scss */
div.features div.feature div.desc {
  margin-top: 50px;
  margin-left: 100px;
  float: left;
}

/* line 117, ../sass/style.scss */
footer {
  background-color: #34495E;
  padding-top: 20px;
}
/* line 121, ../sass/style.scss */
footer div.menu ul {
  padding-bottom: 40px;
  list-style: none;
  display: inline-block;
  margin-right: 150px;
}
/* line 126, ../sass/style.scss */
footer div.menu ul li {
  margin-bottom: 10px;
}
/* line 128, ../sass/style.scss */
footer div.menu ul li a {
  color: #DADFE1;
  text-decoration: none;
}
/* line 132, ../sass/style.scss */
footer div.menu ul li h3 {
  color: white;
}
/* line 138, ../sass/style.scss */
footer div.legal-line {
  background-color: #22313F;
  padding: 30px 20px 30px 0;
  margin-bottom: 0px;
}
/* line 142, ../sass/style.scss */
footer div.legal-line h5 {
  margin-left: 30px;
  color: white;
}

/* line 148, ../sass/style.scss */
.sz-sm {
  width: 15%;
}

/* line 151, ../sass/style.scss */
.sz-md {
  width: 50%;
}

/* line 154, ../sass/style.scss */
div.error-pg {
  margin-top: 10%;
  margin-left: 10%;
}

/* line 158, ../sass/style.scss */
div.jumbotron {
  background-color: #ecf0f1;
  padding: 100px 0 100px 0;
  text-align: center;
}
/* line 162, ../sass/style.scss */
div.jumbotron h1 {
  color: #7f8c8d;
}

/* line 166, ../sass/style.scss */
div.pricing-table {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 170, ../sass/style.scss */
div.pricing-table div.pricing {
  text-align: center;
  background-color: #ecf0f1;
  display: inline-block;
  padding: 20px 50px 20px 50px;
}
/* line 175, ../sass/style.scss */
div.pricing-table div.pricing p {
  color: #7f8c8d;
}
/* line 179, ../sass/style.scss */
div.pricing-table div.pricing p#last {
  color: #7f8c8d;
  margin-bottom: 40px;
}
/* line 183, ../sass/style.scss */
div.pricing-table div.pricing h2.price-name {
  color: #2c3e50;
}
/* line 186, ../sass/style.scss */
div.pricing-table div.pricing h3.price {
  color: white;
  background-color: #34495e;
  border-radius: 50%;
}
/* line 191, ../sass/style.scss */
div.pricing-table div.pricing h3.basic {
  color: #c0392b;
  background-color: transparent;
  border: 3px solid #c0392b;
  padding: 40px 10px 40px 10px;
}
/* line 197, ../sass/style.scss */
div.pricing-table div.pricing h3.plus {
  color: white;
  background-color: #2980b9;
  border: 3px solid #2980b9;
  padding: 40px 10px 40px 10px;
}
/* line 203, ../sass/style.scss */
div.pricing-table div.pricing h3.business {
  color: #16a085;
  background-color: transparent;
  padding: 40px 0px 40px 0px;
  border: 3px solid #16a085;
}
/* line 209, ../sass/style.scss */
div.pricing-table div.pricing a.basic {
  background-color: #c0392b;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}
/* line 215, ../sass/style.scss */
div.pricing-table div.pricing a.basic:hover {
  background-color: #e74c3c;
}
/* line 219, ../sass/style.scss */
div.pricing-table div.pricing a.plus {
  background-color: #2980b9;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}
/* line 225, ../sass/style.scss */
div.pricing-table div.pricing a.plus:hover {
  background-color: #3498db;
}
/* line 229, ../sass/style.scss */
div.pricing-table div.pricing a.business {
  background-color: #16a085;
  color: white;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}
/* line 235, ../sass/style.scss */
div.pricing-table div.pricing a.business:hover {
  background-color: #1abc9c;
}
/* line 240, ../sass/style.scss */
div.pricing-table div.plus {
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.24);
}

/*
* Media queries
*/
@media (max-width: 896px) {
  /* line 250, ../sass/style.scss */
  a.m-item {
    visibility: hidden;
    display: none;
  }

  /* line 254, ../sass/style.scss */
  nav.main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 257, ../sass/style.scss */
  nav.main a.nvb-collapse {
    visibility: visible;
    position: absolute;
    right: 10px;
    top: 20px;
  }

  /* line 265, ../sass/style.scss */
  nav.cat a {
    display: block;
  }
}
@media (max-width: 600px) {
  /* line 271, ../sass/style.scss */
  a.m-item {
    visibility: hidden;
  }

  /* line 274, ../sass/style.scss */
  nav.main {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 277, ../sass/style.scss */
  nav.main a.nvb-collapse {
    visibility: visible;
  }

  /* line 282, ../sass/style.scss */
  nav.cat a {
    display: block;
  }
}
@media (max-width: 1320px) {
  /* line 289, ../sass/style.scss */
  nav.cat a {
    display: block;
  }
}
